/* от 1200 - 1439px */
@media(max-width:1439px){
    .container{width: 1140px;}
    .portfolio,
    .about,
    .contacts{
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .portfolio-content{
        gap: 15px 15px;
    }

    .portfolio-card{
        width: 360px;
        height: 396px;
    }

    .contacts__content{column-gap:50px;}
    .contacts-list{column-gap: 35px;}
}

/* от 992 - 1199px */
@media(max-width:1199px){
    .container{width: 960px;}
    .h1{font-size: 70px;}
    .header-slider__nav{right: 30px;}
    .header-slider-wrapper .owl-dots{left: 30px;}
    .portfolio,
    .about,
    .contacts{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .portfolio-card{
        width: 300px;
        height: 330px;
    }

    .about__content{
        column-gap: 50px;
        align-items: start;
    }

    .about__title{margin-bottom: 50px;}

    .about__img{
        width: 300px;
        height: 321px;
    }

    .about__desc{
        max-width: 100%;
    }

    .about__statistic-item p{
        font-size: 80px;
        line-height: 100px;
    }

    .contacts__form-wrapper{width:360px;}

    }


/* от 768 - 991px */
@media(max-width:991px){
    .container{width: 730px;}
    .h1{font-size: 60px;}
    .start-video__text p,
    .header-slider-wrapper .owl-dots{display: none;}
    .portfolio-content{
        gap: 20px 20px;
    }
    .portfolio-card{
        width: 220px;
        height: 242px;
    }

    .about__content{column-gap: 30px;}

    .about__img{
        width: 240px;
        height: 256px;
    }

    .about__text{margin-bottom:10px;}

    .contacts-list{
        grid-template-columns:repeat(1, 1fr);
        row-gap: 40px;
    }

}

/* от 375 - 767 px */
@media(max-width:767px){
    .container{width: 100%;}
    .header-slider-wrapper{display: none;}
    .header{height: 100vh;
            max-height: 667px;
    }
    .header-top {
        height: 50px;
        padding-top: 20px;
        text-align: center;
    }
    .header__content {padding-top: 60px;}
    .h1{line-height: 80px;}
    .portfolio-content .owl-dots{
        text-align: center;
        margin-top: 15px;
    }
    .portfolio-card:hover img{
        transform: scale(1);
    }
    .owl-dots button.owl-dot.active span{
        background-color: #f1971b;
    }

    .about__img{
        margin-right: auto;
        margin-left: auto;
    }


    .about__content, 
    .contacts__content{
        display: block;
    }

    .about__desc{margin-top: 30px;}

    .contacts__form-wrapper{
        width: 100%;
    }

    .contacts-list{
        margin-top: 50px;
        grid-template-columns:repeat(2, 1fr); 
    }
}

@media(max-width:574px){
    .contacts-list{
        grid-template-columns:repeat(1, 1fr);
        row-gap: 30px;
    }

    .btn{
        width: 100%;
    }
}

/* от 320 - 374px */

@media(max-width:374px){
    .header {max-height: 617px;}
    .header__nav a + a {margin-left: 28px;}
    .header__title {margin-bottom: 80px;}
    .h1 {font-size: 53px;}
}
